html {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

.topnav {
  overflow: hidden;
  width: fit-content;
  display: flex;
  border-style: solid;
  border-radius: 20px;
  margin-top: 5px;
  margin-left: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  background-color: #333;
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 50px;
  width: fit-content;
}

.ceefilm {
  border-style: solid;
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #333;
  font-size: 50px;
  padding: 14px 16px;
}
img {
  width: 350px;
  height: 550px;
  margin: 20px;
}
p {
  background-color: #333;
  border-style: solid;
  border-radius: 20px;
  text-align: center;
  width: fit-content;
  font-size: 30px;
  color: #ffffff;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-image: url("images/theater.webp");
  background-color: #cccccc;
  color: bisque;
  cursor: url("images/popcorncursor.png"), auto;
  min-height: 100%;
  min-width: 100%;
}
